.col-lg-8.col-lg-offset-1
  = render partial: 'job', locals: {job: @job, category: @category}
.col-lg-8.col-lg-offset-1
  .panel.panel-default
    .panel-body
      .col-lg-12.no-padding
        %p Job Description
      .col-lg-12.no-padding
        = @job.description